<div class="panel" [ngClass]="panelClass">

  <div class="panel-title">
    <div class="panel-title-left">
      @if (icon) {
        <span class="panel-icon">{{ icon }}</span>
      }
      <span>{{ title }}</span>
    </div>
    <div class="panel-title-right">
      <!-- Optional: project buttons/badges into the right side of the title bar -->
      <ng-content select="[panel-actions]"></ng-content>
    </div>
  </div>

  <div
    class="panel-content"
    [ngClass]="contentClass"
    [class.no-padding]="disableBodyPadding"
  >
    <ng-content></ng-content>
  </div>

</div>